.footer {
  grid-area: footer;
  background-color: white;
  height: auto;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.ListTitle {
  width: 100px;
  margin: 0 auto;
}
.item {
  display: flex;
  justify-content: center;
}
.itemName {
  margin-right: 5px;
}
.ItemAmount {
  margin-right: 5px;
}
.Total {
  margin-left: 380px;
  display: flex;
  padding-bottom: 10px;
}
.TotalCost {
  margin-left: 100px;
}
